<center>
  <header>
    <div id="htext1">
      <div id="htext2">
        <span id="htext4">Paeder Aegyptius<br/></span>
        <span id="htext6">Egyptian Plunder<br/></span>
      </div>
    </div>
  </header>
</center>

<div id="htext3">
  <center>
    <div id="htext5">
      ... Lest the unbeliever see only ignorance in the Christian and laugh to scorn. <br/> <span style="float:right">&ndash; St. Augustine</span>
    </div>
  </center>
</div>

<div id="arrow">
  <center>
      <div id="realarrow"></div>
  </center>
</div>
